.container {

}

.header {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 2.75rem;
}

.imagewithtextflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexsidetext {
    max-width: 50%;
    text-align: center;
    font-size: 1.3rem;
    
}

.maininfocontainer {
    padding-bottom: 2rem;
}

.centeredsectiontwo {
    padding-top: 1rem;
    text-align: center;
}

.listmain {
    list-style: none;
}

.listmain li::before { 
    content: attr(data-icon);
    font-size: .75em;
    margin-left: 1rem;
  }

.listitemtext {
    font-family: "Roboto Mono";
    margin: 1rem;
    margin-left: 2rem;
    font-size: 1.1rem;
}

.riskscontainer {
    padding-top: .5rem;
    padding-bottom: 2rem;
    background-color:  #284457;
    color: white;
}

.risksmain {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 3ch;
    font-size: 1.1rem;
}