@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
.container {
  background-color: white;
  font-size: 3rem;
  scroll-behavior: smooth;
}

.individualcontainer {
  height: 100vh;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.fullpagetextcontainer {
  margin-top: 19%;
  margin-bottom: 25%;
}

.mainvideo {
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.firstmain {
  text-align: center;
  font-family: "Bebas Neue";
  color: black;
  cursor: pointer;
  transition: all 900ms ease;
}

.firstmain:hover {
  background: -webkit-linear-gradient(rgb(253, 4, 4), rgb(0, 68, 255));
  letter-spacing: .18in;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.flexvideowithtext {
  background-color: black;
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sectiontwotext {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans Arabic";
  max-width: 70%;
  margin: 0 auto;

  transition: all 500ms ease;
}

.sectiontwotext:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  
}

.flextextsub {
  background-color:  #284457;
  padding-top: 5%;
  padding-bottom: 5%;
}

.eachdrugflex {
  padding-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Red Hat Mono";
}

.eachdrugflexblack {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono";
}
.drugdescription {
  max-width: 50%;
  
  
}


.eachdrugbutton {
  width: 5rem;
  height: 3rem;
}

.linkedtext {
  font-family: "Red Hat Mono";
  cursor: pointer;
  transition: color 500ms ease, size 500ms ease;
}

.linkedtext:hover {
  color: red;
  
}

.footercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.1rem;
}

.linktext {
  font-size: 1.55rem;
  color: rgb(14, 151, 14);
  cursor: pointer;

  transition: all 500ms ease;
}

.linktext:hover {
  color: rgb(4, 66, 4);
}